<!-- Distribution A. Approved for public release; distribution unlimited. OPSEC Number: 4944 -->
<launch>
  
  <!-- Multirae driver-->
  <group ns="multirae">
    <rosparam file="$(find multirae)/config/multirae.yaml" />
    <node pkg="multirae" type="multirae_node" name="multirae_driver" respawn="true" output="screen"/>
  </group>

</launch>
